body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(35, 35, 35);
  color:#13f04e ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-green {
  color: #13f04e !important;
}

.text-white{
  color: white;
}

.navbar-brand {
  color: #13f04e;
}

.navbar-brand img {
  width: 30px;
  margin-right: 10px;
}

.btn {
  font-size: 15px;
}

.btn-primary,
.bg-primary{
  background-color: #13f04e !important;
  border: none;
}

.btn-primary:hover {
  background-color: #0cd341;
  opacity: 0.9;
}

.btn-secondary,
.border-secondary{
  background-color: #a182e0;
}

.btn-secondary:hover {
  background-color: #8155d8;
  opacity: 0.9;
}

.border-green{
  border-color:#13f04e;
}

.border-lila {
   border-color:#8155d8;
}

.icon {
  margin-right: 5px;
}